# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Athora\athora\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
